
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


#container{
    display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
}
html, body{
    margin:0;
    height: 100%;
    font-family: 'Heebo', sans-serif;

}

p{
    margin:0;
}


#header{
    font-family: 'Heebo', sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.im.ge/2021/08/15/60HUq.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.title{
    font-size: 6.93vh;
    font-weight:900 ;   
    color: rgb(255, 255, 255) ;
}
  

#title1{
    justify-self: flex-end;
 
}



#headerTextContainer{
    display: flex;
    flex-direction: column;
 
  
    margin-right:22vw; 
    
}

.header-text{

    font-family: 'Heebo', sans-serif;
 
    color: white;
    font-weight: 100;
    font-size: 5.44vh;

    align-self: flex-end;
}






.button{
    font-family: 'Rubik', sans-serif;
    display: grid;
     background-color: #00a99d;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    font-size: 3vh;
    border-radius: 0.15vw;
  

   

    
}

.button:active{
    background-color: black;
    
}


#for-free{
   font-weight: 100;
   font-size: 7.15vh;
}


#signup-now{
    color: white;
    font-weight: black;
    border: black;
  
    align-self: flex-end;
    cursor: pointer;
    height: 6vh;
    width: 12vw;
}  

 


.modal{
  
    display: flex;
   position: fixed;
   z-index: 1;
   left:0;
   top:0;
   height: 100vh;
   width: 100vw;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
} 

.modal-content{
    display: grid;
    background-color: #f4f4f4;
    margin: 1.2% auto;
    width: 65vw;
    height: 95vh;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    justify-content: center;
 }

 .closebtn{

    color: white;
    float: right;
    font-weight: bolder;
    font-size: 5vh;
    margin-top: 1vw;
    margin-right: 3vw;
    cursor: pointer;
    display: block;
    z-index: 3;

}


 .closebtn:hover,.closebtn:focus{
    color:#ccc;
    text-decoration: none;

}

#terms{
    display: none; 
}


#frame {
    height: 70vh;
    width: 90vw;
}





#promoModal{
    display: none;
}

#videoPrev{
    width: 54.166vw;
    height:  56.56vh;
    cursor: pointer;
}

#videoPrev:hover{
opacity: 80%;
background-color: black;
}

#promoVideo{
    display: grid;
    height: 69vh;
    width: 50vw;
    align-self: center;
    justify-self: center;
}

#promoTitle{
    align-self: center;
    color:black;
    justify-self:center;
}

#videoSec{
    background-color: #f9f9f9;
    height:  90.71vh;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#promoText{
    font-size: 3.9vh;
    color: black;
    font-weight:900;
}

.emphasis{
    color: #00a99d;

}


.input{
    font-family: 'Open Sans Hebrew', serif;
    height: 8.53vh;
    width: 26.666vw;
    border-radius: 12px;
    text-align: end;
    font-weight: 100;
    font-size: 3.94vh;
}
    
#contact{
    display: flex;
    flex-direction: column;
    height: 97.43vh;
    width: 100%;
    background-color: #383838;
 

}


#contact-form{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    align-self: center;
    align-items: center;
    justify-self: center;
 
}
   


.contact-rows{
    font-family: 'Open Sans Hebrew', serif;
    width: 60vw;
    height: 13vh;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    font-weight: 100 !important; 
    
   
}


#input-container{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}



#firstname{
    align-self: flex-start;
    height: 8.53vh;
    width: 26.666vw;
  
    font-weight: 100;
}
#lastname{
    align-self: flex-start;
    font-weight: 100;
  
}

#termofuse{
    align-self: flex-end;
    font-size:  3.94vh;


}

#termsModal{
    align-self:flex-end;
}

.checkboxblock{
    align-self:flex-end;
    font-size:  3.94vh;
    color: #f4f4f4;
}

#phone{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-weight: 100;
}

#kidomet{
    width: 7.81vw;
    height: 8.53;
    margin-right: 0.7vw;
    text-align: center;
    font-weight: 100;
}

#phonenumber{
    width: 17.7vw;
    height: 8.53vh;
    font-weight: 100;
}

#submit{
    align-self: flex-start;
    height: 7.47vh;
    width: 9.47vw; 
    font-weight: 100;
    font-size: 3.9vh;
    color:white;
    margin-top: 9vh;
}

.secondery-title{
    font-size: 6.08vh;
    color: #fefefe;
    font-weight: 900;

}

#register{
    margin: 7vh;
}

.link{
    color:#aaddf9;
}


#footer{
    width: 100%;
    height: 50vh;
}



#map{
    height: 93.5vh;
    background-color: #383838;
}


p{
    direction: rtl;
}

.numbers{
    font-size: 8.53vh;
    color: #383838;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-style: italic;
    font-weight: 500;
    height: 14vh;
    
    align-items: center;
    
}


.facts-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  
    font-size: 2.45vh;
    font-weight: 900;
    
}


#facts-title{
    color :#383838;
    align-self: center;
    height: 13vh;
    
}


#facts{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:42.689vh;
  
}   

.facts-icons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}


#social{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}

.icons{
     display: flex;
    height: 4.88vh;
    width: 2.13vw;
    border: #5f5f5f solid;
    border-radius:30%;
    border-width: 0.1vw;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}

.icons:hover{
    background-color: #00a99d;

}
.social-container{
    height: 30.79vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly
}



#logo{
   display: flex;
    justify-content: center;
}

#gmap{
  
}

#map-emblem{
    width: 100%;
    height: 56.93vh;
    align-content: center;
    margin: 0;
    padding: 0;
    border-width: 0;
}

#copyright{
    display: flex;
    font-weight: 200;
    color: white;
    flex-direction: row-reverse;
    font-size: 3vh;
    justify-content: space-around;
   
}

#copyright-img{
    width:8vw;
    height: 5vh;
    justify-self: flex-end;
}